
header{
    width: 960px;
    height: 100px;
    background-color: rgb(87, 129, 244);
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
img{
    padding-left: 162px;
    float: left;
   

}

h1{
    color: white;
    font-size: 20px;
}
